<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spooky Nook Navigation</title>
  <link rel="stylesheet" href="tui-dairy.css">
</head>
<body>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="/strawberry-patch">Spooky Nook Strawberry Patch</a>
    <a href="/bnb">Spooky Nook BnB</a>
    <a href="/tui-beef">Tui Beef</a>
    <a href="/tui-dairy" class="active">Tui Dairy</a>
  </div>

  <p>Cornsilage available for $65 per ton.</p>
  <p>Triticale silage available for $55 per ton.</p>
  <i>We have someone to haul it if needed.</i>
  <p>717-803-1649</p>

  <script src="tui-dairy.js"></script>
</body>
</html>
